<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{% static 'css/Bootstrap/bootstrap-grid.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/Bootstrap/bootstrap-reboot.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/Bootstrap/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/rooster_base.css' %}">
        <script src="{% static 'js/Bootstrap/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/Bootstrap/popper.min.js' %}"></script>
        <script src="{% static 'js/Bootstrap/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/Bootstrap/bootstrap.min.js' %}"></script>
        {% block head_block %}
        {% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-custom">
            <a class="navbar-brand navbrand-custom" href="{% url 'KlokRooster:index' %}">HARDEKOOL AKADEMIE</a>
            <div>
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link navlink-custom" href="{% url 'KlokRooster:logout'%}">Teken uit</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown-toggle-custom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Wiplys</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'KlokRooster:roosterlys'%}">Roosterlys</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'admin:index'%}">Admin</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item active">
                        <a class="nav-link navlink-custom" href="{% url 'KlokRooster:login' %}">Teken in</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown-toggle-custom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Wiplys</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'admin:index'%}">Admin</a>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container">
            {% block body_block %}

            {% endblock %}
        </div>       
    </body>
</html>