{% extends 'rooster_base.html' %}

{% block head_block %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/skrap_rooster.css' %}">
<title>Skrap "{{ rooster.naam }}"</title>
{% endblock %}

{% block body_block %}
<form method="POST">
    {% csrf_token %}
    <br>    
    <h2>Is u seker u wil "{{ rooster.naam }}" SKRAP?</h2>
    <br>
    <button class="skrap" type="submit">SKRAP</button>
    <br>
    <br>
    <a href="{% url 'KlokRooster:roosterlys' %}" id="kanselleer">Kanselleer</a>
</form>
{% endblock %}