{% extends 'rooster_base.html' %}

{% block head_block %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/wys_rooster.css' %}">
<title>{{ rooster.naam }}</title>
<script>
    function veranderToestand() {
        if (document.getElementById("luister_doof").innerHTML === "<a href=\"{% url 'KlokRooster:verdoof' rooster.pk %}\"><button class=\"luisterend\">Verdoof</button></a>") {
            document.getElementById("luister_doof").innerHTML = "<a href=\"{% url 'KlokRooster:luister_vir_lui' rooster.pk %}\"><button class=\"doof\">Luister</button></a>"
        } else {
            document.getElementById("luister_doof").innerHTML = "<a href=\"{% url 'KlokRooster:verdoof' rooster.pk %}\"><button class=\"luisterend\">Verdoof</button></a>"
        }
}
</script>
{% endblock %}

{% block body_block %}
<br>
<h2>Rooster: {{ rooster.naam }}</h2>
<br>
<table>
    <tr>
        <td><b>Periode 1</b></td>
        <td>{{ rooster.periode1 }}</td>
    </tr>
    <tr>
        <td><b>Periode 2</b></td>
        <td>{{ rooster.periode2 }}</td>
    </tr>
    <tr>
        <td><b>Periode 3</b></td>
        <td>{{ rooster.periode3 }}</td>
    </tr>
    <tr>
        <td><b>Periode 4</b></td>
        <td>{{ rooster.periode4 }}</td>
    </tr>
    <tr>
        <td><b>Pouse 1</b></td>
        <td>{{ rooster.pouse1 }}</td>
    </tr>
    <tr>
        <td><b>Periode 5</b></td>
        <td>{{ rooster.periode5 }}</td>
    </tr>
    <tr>
        <td><b>Periode 6</b></td>
        <td>{{ rooster.periode6 }}</td>
    </tr>
    <tr>
        <td><b>Periode 7</b></td>
        <td>{{ rooster.periode7 }}</td>
    </tr>
    <tr>
        <td><b>Periode 8</b></td>
        <td>{{ rooster.periode8 }}</td>
    </tr>
    <tr>
        <td><b>Pouse 2</b></td>
        <td>{{ rooster.pouse2 }}</td>
    </tr>
    <tr>
        <td><b>Periode 9</b></td>
        <td>{{ rooster.periode9 }}</td>
    </tr>
    <tr>
        <td><b>Periode 10</b></td>
        <td>{{ rooster.periode10 }}</td>
    </tr>
    <tr>
        <td><b>Periode 11</b></td>
        <td>{{ rooster.periode11 }}</td>
    </tr>
    <tr>
        <td><b>Periode 12</b></td>
        <td>{{ rooster.periode12 }}</td>
    </tr>
    <tr>
        <td><b>Uitkomtyd</b></td>
        <td>{{ rooster.uitkomtyd }}</td>
    </tr>
</table>
<br>
<a href="{% url 'KlokRooster:verander_rooster' rooster.pk %}"><button class="verander">Verander</button></a>
<a href="{% url 'KlokRooster:skrap_rooster' rooster.pk %}"><button class="skrap">Skrap</button></a>
<br>
{% if not rooster.luisterend %}
    <div id="luister_doof">
        <a href="{% url 'KlokRooster:luister_vir_lui' rooster.pk %}"><button class="doof" onclick="veranderToestand()">Luister</button></a>
    </div>
{% else %}
    <div id="luister_doof">
        <a href="{% url 'KlokRooster:verdoof' rooster.pk %}"><button class="luisterend">Verdoof</button></a>
    </div>
{% endif %}
<br>
<a href="{% url 'KlokRooster:lui_klok' rooster.pk %}"><button class="lui_klok">Lui Klok</button></a>
{% endblock %}