{% extends 'rooster_base.html' %}

{% block head_block %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/wys_rooster.css' %}">
<title>{{ rooster.naam }}</title>
{% endblock %}

{% block body_block %}
<br>
<h2>Rooster: {{ rooster.naam }}</h2>
<br>
<table>
    <tr>
        <td><b>Periode 1</b></td>
        <td><b>Periode 2</b></td>
        <td><b>Periode 3</b></td>
        <td><b>Periode 4</b></td>
        <td><b>Pouse 1</b></td>
        <td><b>Periode 5</b></td>
        <td><b>Periode 6</b></td>
        <td><b>Periode 7</b></td>
        <td><b>Periode 8</b></td>
        <td><b>Pouse 2</b></td>
        <td><b>Periode 9</b></td>
        <td><b>Periode 10</b></td>
        <td><b>Periode 11</b></td>
        <td><b>Periode 12</b></td>
        <td><b>Uitkomtyd</b></td> 
    </tr>
    <tr>
        <td>{{ rooster.periode1 }}</td>
        <td>{{ rooster.periode2 }}</td>
        <td>{{ rooster.periode3 }}</td>
        <td>{{ rooster.periode4 }}</td>
        <td>{{ rooster.pouse1 }}</td>
        <td>{{ rooster.periode5 }}</td>
        <td>{{ rooster.periode6 }}</td>
        <td>{{ rooster.periode7 }}</td>
        <td>{{ rooster.periode8 }}</td>
        <td>{{ rooster.pouse2 }}</td>
        <td>{{ rooster.periode9 }}</td>
        <td>{{ rooster.periode10 }}</td>
        <td>{{ rooster.periode11 }}</td>
        <td>{{ rooster.periode12 }}</td>
        <td>{{ rooster.uitkomtyd }}</td>
    </tr>
</table>
{% endblock %}